@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
}

body {
  background-color: rgb(184, 182, 182);
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  color: black;
  justify-content: space-between;
  display: flex;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  font-size: large;
}

h5 {
  padding-bottom: 15px;
}

/* li,
a {
  font-family: "Poiret One", cursive;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
} */

header {
  background-color: rgb(87, 85, 85);
  display: flexbox;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  cursor: pointer;
  /* margin-right: 0%; */
  /* position: relative; */
  margin: 10px 15px 15px 10px;
  max-height: 45px;
  min-width: 35px;
  max-width: 45px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.nav__links li a:hover {
  color: aqua;
}

.open__menu {
  font-size: 1.5rem;
  margin: 5px;
  display: none;
  cursor: pointer;
}

.nav__links .close__menu {
  font-size: 2rem;
  /* margin: 10px 15px 15px 10px; */
  display: none;
  cursor: pointer;
  top: auto;
}

@media (max-width: 768px) {
  .nav__links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease;
    display: none;
  }

  .nav__links .close__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .open__menu {
    display: block;
  }

  .nav__links li a:hover {
    background: none;
    font-size: 1.6rem;
    color: rgb(255, 123, 0);
  }
}

/* .nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3 ease 0s;

  background: none;
  font-size: 1.6rem;
}

 */
