@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  color: black;
  justify-content: space-between;
  display: flex;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  font-size: 35px;
}

h5 {
  padding-bottom: 50px;
  color: #00ffcc;
}

header {
  background: linear-gradient(#402565, #00ffcc);
  /* background-color: rgb(117, 115, 115); */
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  cursor: pointer;
  margin: 10px 15px 15px 10px;
  max-height: 45px;
  min-width: 35px;
  max-width: 45px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.nav__links li a:hover {
  color: #00ffcc;
}

.open__menu {
  font-size: 1.5rem;
  margin: 5px;
  display: none;
  cursor: pointer;
}

.nav__links .close__menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  top: auto;
}

@media (max-width: 768px) {
  .nav__links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#402565, #00ffcc);
    transition: top 1s ease;
    display: none;
    padding-bottom: 50%;
  }

  .nav__links .close__menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    margin: 6px;
  }

  .nav__links .close__menu:hover {
    background: none;
    color: #00ffcc;
  }

  .open__menu {
    display: block;
  }

  .nav__links li a:hover {
    background: none;
    font-size: 1.7rem;
    color: rgb(3, 3, 59);
  }
}
