@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }
  .nav__links.toggleMenu {
    display: block;
  }
}

@media (min-width: 769px) {
  .hamIcon {
    display: none;
  }
  .nav__links {
    display: initial;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
}

body {
  background-color: rgb(184, 182, 182);
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  font-size: large;
}

h5 {
  padding-bottom: 15px;
}

li,
a {
  font-family: "Poiret One", cursive;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-color: rgb(87, 85, 85);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 5%;
  min-width: 30px;
  max-width: 50px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
  color: aqua;
}
